.img-fluid {
    margin-top: 1rem;
    border-radius: 5%;
}

.container-fluid p {
    text-align: center;
    margin: 2rem;
    margin-top: 4rem;
    margin-left: 4rem;
}

@media only screen and (max-width: 900px) {
    .container-fluid p {
        margin-top: 1rem;
        margin-left: 2rem;
    }
}