.img-fluid {
    margin-top: 1rem;
    border-radius: 5%; 
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.container-fluid p {
    text-align: justify;
    margin: 2rem;
    margin-top: 4rem;
    margin-left: 4rem;
    letter-spacing: 1px;
}

.row .none {
    margin-top: 1rem;
}

/*---------------------------------------------------Media Queries------------------------------------*/

@media only screen and (max-width: 900px) {
    .container-fluid p {
        margin-top: 1rem;
        margin-left: 2rem;
    }
}

@media only screen and (min-width: 900px) {
    .container-fluid p {
        margin-top: 2rem;
        margin-left: 2rem;
    }
}

@media (min-width: 992px){
    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 30%;
        max-width: 30%;
    }
}


