h5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    margin: 0 auto;
    
}

.center-form {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 60%;
}

button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: rgb(12, 105, 66);
}

/*---------------------------------------------------Media Queries------------------------------------*/

@media only screen and (max-width: 700px) {
    .center-form {
        max-width: 90%;
    }
}