body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin-bottom: 70px;
}

/* --------------------------------------------------Navbar-------------------------- */

.background {
    background-color: rgb(12, 105, 66);
}

.navbar {
    position: relative;
    text-transform: uppercase;
}

.navbar-brand {
    font-size: 1.35rem;
    font-weight: 500;
}

.navbar-nav li {
    font-size: 1.15rem;
}

/* --------------------------------------------------Footer---------------------- */

footer {
    position: fixed;
    bottom:0;
    width:100%;
    height: 50px;
    background-color: rgb(12, 105, 66);
}

footer ul {
    text-align: center;   
}

footer ul li {
    display: inline;
}

footer ul li i {
    color: #fafafa;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

