.container-fluid .row div {
    display: block; 
    -webkit-margin-after: -350px;
    -moz-margin-after: 0px;
    -o-margin-after: -350px;
}

.img-fluid {
    max-width: 100%;
    height: 30%;
    margin-top: 1rem;
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rubrik {
    text-align: center;
    margin-top: 20px;

}

.letterspacing {
    letter-spacing: 1px;
    text-align: justify;
    margin: 2rem;
}

/*------------------------------------------------------Media Queries----------------------------*/

@media only screen and (max-width: 900px) {
    .container-fluid p {
        margin-top: 1rem;
        margin-left: 2rem;
    }
}
    
@media only screen and (max-width: 700px) {
    .img-fluid {
        height: 18%;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 700px) {
    .img-fluid {
        height: 23%;
    }
}